<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <%
        var list = '';
        for (i = 0; i < customers.length; i++) {
          list += '<li><a href="mailto:' + customers[i].name + '">' + customers[i].address + '</a></li>';
        }
        return list;
      %>
    </ul>
  </body>
</html>